</main>
  <!-- TODO: insert footer -->
  <div class="custom-footer">
    <p>© Copyright <%= new Date().getFullYear() %> RLMP44</p>
    <p>Art by <a href="https://www.freepik.com/author/maniacvector">maniacvector</a> on FreePik</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/scripts/functions.js"></script>
  <script src="/scripts/book-api.js"></script>
</body>

</html>
