<div class="search-bar mt-4">
  <div class="searchbar-form">
    <div class="searchbar-label">
      <label class="minimize-txt" for="searchInput"><strong>Search: </strong></label>
    </div>
    <div class="searchbar-input">
      <input id="searchInput" type="text" class="form-basic searchbar-input minimize-txt" name="searchInput" title="search input" placeholder="Book title or author">
    </div>
  </div>
  <div class="searchbar-form">
    <div class="searchbar-label">
      <label class="minimize-txt" for="filterParams"><strong>Filter by: </strong></label>
    </div>
    <div class="searchbar-input">
      <select id="filterParams" class="form-basic searchbar-input minimize-txt" name="filterParams" title="filter input">
        <option value="rating DESC">Rating (highest to lowest)</option>
        <option value="rating ASC">Rating (lowest to highest)</option>
        <option value="date_finished DESC">Recency (newest to oldest)</option>
        <option value="date_finished ASC">Recency (oldest to newest)</option>
      </select>
    </div>
  </div>
  <div class="searchbar-button">
    <button onclick="searchFunction(event)" data-books='<%= JSON.stringify(locals.data) %>' id="search-button" class="main-button btn-sm searchbar-button minimize-txt" type="submit">
      Apply
    </button>
  </div>
</div>
