<div class="sidebar">
  Hi, I’m Rachael, lover of all books sci-fi and fantasy! I offer general summaries, my recommendation level, and even my personal notes for your perusal! To avoid spoilers, my notes will be accessible via the Notes button on each summary. Make yourself at home!
</div>
