.main-button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  outline: 0;
  border: 1px solid black;
  position: relative;
  background-color: transparent;
  touch-action: manipulation;
}

.main-button:after {
  content: "";
  background-color: var(--main-dark-green);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.main-button:hover:after {
  top: 0px;
  left: 0px;
}

.button {
  border: none;
}

.card-button {
  margin-top: .5rem;
}

.searchbar-button {
  margin: 0rem .5rem;
  padding: .25rem 1rem;
}

.edit-button {
  background-color: transparent;
}

.edit-icon {
  width: 26px;
  height: 26px;
  object-fit: cover;
}

.delete {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: transparent;
}

.delete:hover::before,
.delete:hover::after {
  background-color: var(--button-red);
}

.delete::before,
.delete::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: var(--text-grey);
}

.delete::before {
  transform: rotate(45deg);
}

.delete::after {
  transform: rotate(-45deg);
}

.delete.black::before,
.delete.black::after {
  height: 8px;
  margin-top: -4px;
}

.delete.warp::before,
.delete.warp::after {
  border-radius: 120% 0;
}

.btn-lg {
  padding: 13px 50px 13px;
}

.btn-mobile {
  display: none;
}

.header-button {
  background-color: var(--main-dark-green);
  padding: .5rem 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 1px 2px 3px black;
}

.header-button:hover {
  background-color: var(--main-green);
  transition: .5s;
}
