@import "card.css";
@import "button.css";
@import "text.css";
@import "form.css";
@import "container.css";
@import "queries.css";
@import "colors.css";

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--main-white);
}

.custom-navbar {
  background-color: var(--main-green);
  width: 100dvw;
  height: 4.5rem;
  display: grid;
  grid-template-columns: 136px 1fr 136px;
  padding: 0rem 1rem;
}

.icon {
  height: 60px;
  width: auto;
  align-self: center;
}

.custom-footer {
  background-color: var(--main-green);
  width: 100vw;
  height: auto;
  max-height: 64px;
  padding: .5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-footer p {
  margin: 0;
}

.custom-footer a {
  text-decoration: none;
  color: inherit;
}

label:has(+ input:required):after {
  content: ' *';
  color: red;
}

label:has(+ textarea:required):after {
  content: ' *';
  color: red;
}

label:has(+ select:required):after {
  content: ' *';
  color: red;
}
