:root {
  --font-family-julee: 'Julee', cursive;
  --font-family-karla: 'Karla', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --text-dark-green: rgba(171, 159, 102, 1);
  --text-black: rgba(0, 0, 0, 1);
  --text-grey: rgba(71, 71, 71, 1);
  --main-green: rgba(190, 201, 167, 1);
  --main-brown: rgba(218, 190, 142, 1);
  --main-white: rgba(243, 238, 234, 1);
}

.julee-regular {
  font-family: var(--font-family-julee);
  font-weight: 400;
  font-style: normal;
}

.karla-regular {
  font-family: var(--font-family-karla);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.text-dark-green {
  color: var(--text-dark-green);
}

.text-black {
  color: var(--text-black);
}

.text-grey {
  color: var(--text-grey);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--main-white);
}

.custom-navbar {
  background-color: var(--main-green);
  width: 100vw;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.title-text {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-julee);
  font-weight: bold;
  font-size: 48px;
  color: var(--text-dark-green);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  text-align: center;
}

.title-text::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -5%;
  width: 110%;
  height: 1px;
  background-color: black;
}

.title-text::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 6%;
  width: 90%;
  height: 1px;
  background-color: black;
}

footer {
  background-color: var(--main-green);
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
