/* Extra small devices (phones) */
@media (max-width: 576px) {
  /* Styles for very small screens */
  .minimize-txt {
    font-size: .75rem;
  }

  .btn-mobile {
    display: inline-block;
  }

  .btn-desktop {
    display: none;
  }

  .icon {
    height: 40px !important;
  }

  .outline {
    grid-area: 2 / 1 / 6 / -1;
  }

  main .custom-navbar {
    height: 3.5rem;
    grid-template-columns: 1fr 10fr 1fr;
  }

  .header-button {
    padding: .5rem .7rem;
  }

  #new-note {
    padding: 0;
  }

  .title-text {
    font-size: 2rem !important;
  }

  .search-bar, .sidebar {
    background-color: var(--main-green-transparent);
  }

  .sidebar {
    grid-area: 1 / 2 / 2 / 2;
    margin: 0rem 1rem 1rem 1rem;
  }

  .search-bar {
    grid-area: 2 / 1 / 3 / 3;
  }

  .main-content {
    grid-template-columns: 50% 50%;
    padding: 1rem;
    background-size: 250px auto;
  }

  .outline::after {
    top: 8px;
  }

  .outline::before {
    top: 18px;
  }

  .delete, .edit-icon {
    height: 20px;
    width: 20px;
  }

  .delete {
    margin-top: .25rem;
  }

  .card-body {
    grid-template-columns: 6fr 6fr;
    grid-gap: .5rem 1rem;
  }

  .card-rating {
    grid-area: 1 / 1 / 2 / 2;
  }

  .card-read {
    grid-area: 3 / 1 / 4 / 2;
    margin: .25rem 0rem;
    justify-self: flex-start;
    text-align: start;
  }

  .card-buttons {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-self: flex-end;
    gap: 8px;
  }

  .card-title-author {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card-author {
    margin-bottom: 0rem;
  }

  .card-note {
    grid-area: 4 / 1 / 5 / 3;
  }

  .card-cover {
    max-width: 115px;
    max-height: 175px;
    grid-area: 2 / 2 / 5 / 3;
    align-self: flex-start;
    width: auto;
    height: auto;
  }

  .card-year {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: flex-end;
  }

  .note-form {
    grid-area: 5 / 1 / 6 / 3;
    justify-self: flex-start;
  }

  .card-button {
    padding: 13px 100% 13px;
    font-size: 12px;
  }

  .card-login {
    grid-template-columns: 1fr;
  }

  .card-login::before {
    content: "";
    position: absolute;
    top: 46%;
    left: 5%;
    width: 90%;
    height: 2px;
    background-color: black;
  }

  .switch {
    width: 30px;
    height: 18px;
  }

  .slider:before {
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
}

/* Small devices (portrait tablets and large phones) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Styles for small tablets and phones */
  .title-text {
    font-size: 2.5rem;
  }

  .main-content {
    grid-template-columns: 50% 50%;
    padding: 1rem;
    background-size: 300px auto;
  }

  .search-bar, .sidebar {
    background-color: var(--main-green-transparent);
  }

  .sidebar {
    grid-area: 1 / 2.5 / 2 / 4;
    margin: 0rem 1rem 1rem 1rem;
  }

  .search-bar {
    grid-area: 2 / 1 / 3 / 4;
  }
}

@media (max-width: 768px) {
  .outline {
    width: 90% !important;
    min-height: 85vh;
    position: relative;
    padding: 2rem 2rem;
    margin: 2rem 2rem 1rem 2rem !important;
    grid-area: 3 / 1 / 4 / 4;
  }

  .btn-mobile {
    display: inline-block;
  }

  .btn-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .btn-sm {
    padding: 3px 23px 3px;
  }
}

/* Medium devices (landscape tablets) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Styles for tablets */
}

/* Large devices (desktops and laptops) */
@media (min-width: 993px) and (max-width: 1200px) {

}

@media (min-width: 769px) and (max-width: 1200px) {
  .main-content {
    background-attachment: fixed;
    background-position: left top 80px;
  }
}

/* Extra large devices (larger screens) */
@media (min-width: 1201px) {
  .main-content {
    grid-gap: 1rem;
    grid-template-rows: auto 200px auto auto auto;
  }

  .search-bar {
    grid-area: 1 / 2 / 2 / 3;
  }

  .outline {
    grid-area: 2 / 2 / 6 / -1;
  }

  .sidebar {
    grid-area: 3 / 1 / 4 / 2;
  }

  .sidebar::before {
    top: 10%;
    left: 0%;
    width: .05rem;
    height: 80%;
  }

  .sidebar::after {
    top: 10%;
    left: 100%;
    width: .05rem;
    height: 80%;
  }

  .card-cover {
    grid-area: 2 / 3 / 6 / -1;
    align-self: center;
    width: 75%;
    height: auto;
  }

  .note-form {
    grid-area: 5 / 3 / 6 / 4;
  }
}

@media (min-width: 1601px) {
  .main-content {
    background-size: auto 400px;
  }
}
