/* Extra small devices (phones) */
@media (max-width: 576px) {
  /* Styles for very small screens */
  .outline {
    grid-area: 2 / 1 / 6 / -1;
  }
}

/* Small devices (portrait tablets and large phones) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Styles for small tablets and phones */
}

@media (max-width: 768px) {
  .minimize-txt {
    font-size: .75rem;
  }

  .container {
    max-width: -webkit-fill-available !important;
  }

  .outline {
    width: 90% !important;
    min-height: 85vh;
    position: relative;
    padding: 2rem 2rem;
    margin: 2rem 2rem 1rem 2rem !important;
    grid-area: 3 / 1 / 4 / 4;
  }
}

@media (min-width: 768px) {
  .btn-sm {
    padding: 3px 23px 3px;
  }
}

/* Medium devices (landscape tablets) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Styles for tablets */
}

/* Large devices (desktops and laptops) */
@media (min-width: 993px) and (max-width: 1200px) {

}

/* Extra large devices (larger screens) */
@media (min-width: 1201px) {
  .main-content {
    grid-gap: 1rem;
  }

  .search-bar {
    grid-area: 1 / 2 / 2 / 3;
  }

  .outline {
    grid-area: 2 / 2 / 6 / -1;
  }

  .sidebar {
    grid-area: 3 / 1 / 4 / 2;
  }

  .sidebar::before {
    top: 10%;
    left: 0%;
    width: .05rem;
    height: 80%;
  }

  .sidebar::after {
    top: 10%;
    left: 100%;
    width: .05rem;
    height: 80%;
  }

  .card-cover {
    grid-area: 2 / 3 / 6 / -1;
    align-self: center;
    width: 75%;
    height: auto;
  }

  .note-form {
    grid-area: 5 / 2 / 6 / 3;
  }
}
