.julee-regular {
  font-family: var(--font-family-julee);
  font-weight: 400;
  font-style: normal;
}

.karla-regular {
  font-family: var(--font-family-karla);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.text-dark-green {
  color: var(--text-dark-green);
}

.text-black {
  color: var(--text-black);
}

.text-grey {
  color: var(--text-grey);
}

.title-text {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-julee);
  font-weight: bold;
  font-size: 48px;
  color: var(--text-dark-green);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  text-align: center;
}

.title-text::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -5%;
  width: 110%;
  height: .1rem;
  background-color: black;
}

.title-text::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 6%;
  width: 90%;
  height: .1rem;
  background-color: black;
}
